@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', Arial, sans-serif;
}
html{
   scroll-behavior: smooth;
}
nav{
   position: relative;
}
.menu{
   position: sticky;
   text-align: center;
   margin-top: 0;
   display: none;
   height: 92vh;
   font-size: 250%;
   background: linear-gradient(45deg, #ffdfd5, #ffbfff);
   filter: opacity(0%);
}
.menu.active{
   display: block;
   animation: slide-in 1s 1 ease;
   animation-fill-mode: forwards;   
}
.menu.back{
   animation: back 1s 1 ease;
   animation-fill-mode: forwards;
}
@keyframes back{
   from{
      transform: translateX(0px);
   }
   to{
      transform: translateX(-200px);
      filter: opacity(0%);
   }
}
@keyframes slide-in{
   from{
      transform: translateX(-200px);
   }
   to{
      transform: translateX(0px);
      filter: opacity(100%);
   }
}
ul{
   padding-top: 70px;
}
li{
   margin: 70px;
}
a{
   text-decoration: none;
   color: black;
}
.back{
   padding: 10px;
   margin: 10px;
   position: absolute;
   transform: translateX(350px);
   font-size: 150%;
   border: none;
   background: transparent;
}
.navbar{
   position: sticky;
   top: 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px 10px 20px;
}
.navbar h1{
   font-size: 400%;
}
.hamburger{
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.ham{
   width: 70px;
   height: 7px;
   border-radius: 3px;
   background: black;
   cursor: pointer;
}
.ham.mid{
   width: 40px;
}
.intro{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin: 40px;
   justify-content: center;
   text-align: center;
}
img{
   border: solid 15px #fff;
   border-radius: 50%;
   box-shadow: 0 10px 10px #2000424b;
   width: 70%;
   height: 70%;
   margin: 100px auto 100px auto;
}
.int{
   display: flex;
   flex-direction: column;
}
.intro h1{
   font-size: 400%;
   margin: 40px;
}
.buttons{
   display: flex;
   gap: 20px;
   justify-content: center;
   font-size: 180%;
}
.load{
   background: #6800d8;
   color: #fff;
   padding: 20px;
   border-radius: 20px;
}
section, footer{
   margin-top: 130px;
}
.load:hover{
   box-shadow: 0 0 40px #7a00ff58;
}
.hire{
   padding: 20px;
   border: solid 1px black;
   border-radius: 20px;
}
.container{
   margin: 0px 80px 30px 80px;
   color: #494949;
}
 h2{
   font-size: 180%;
   margin-left: 80px;
}
.grid{
   display: grid;
   grid-template-column: 1fr;
   margin-top: 80px;
}
.about{
   display: flex;
   flex-direction: column;
}
h1, h2, strong{
   color: #5000a7;
}
hr{
   width: 100%;
   border: solid 1px #47474747;
}
.p{
   display: flex;
   color: black;
   flex-direction: column;
   padding: 40px;
   margin-bottom: 20px;
   gap: 20px;
   box-shadow: 0 2px 5px #2000424b;
   border-radius: 12px;
}
.p div{
   font-size: 200%;
}
.p a{
   color: #5000a7;
   justify-self: flex-end;
   width: 30%;
   font-size: 150%;
}
.p span{
   font-size: 140%;
   color: #494949;
}
blockquote{
   color: black;
}
cite{
   color: #494949;
   font-size: 75%;
}
.last{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
   text-align: center;
}
footer{
   background: #5000a7;
   color: #fff;
   padding: 40px;
   border-radius: 30px;
   text-align: center;
   margin: 120px auto auto auto;
}
.a{
   color: #fff;
   margin: 120px auto 200px;
   font-size: 90%;
   border: 1px solid #fff;
   padding: 20px;
   border-radius: 15px;
}
footer h1{
   color: #fff;
   margin-bottom: 80px;
   margin-top: 40px;
}
footer a{
   color: #fff;
   margin: 0px 20px 20px 20px;
   font-size: 200%;
}
footer div{
   color: #fff;
   margin-bottom: 10px;
   font-size: 100%;
}
footer p{
   color: #fff;
   margin: 150px auto 2px auto;
   font-size: 100%;
}
footer .cp{
   margin: 40px auto 0px auto;
   font-size: 60%;
}
footer hr{
   border: solid 1px #fff;
}
@media (max-width: 480px){
   
}

